@font-face {
  font-family: 'Intro';
  src:  url('Intro.otf');
 /* src:  url('BebasNeue-Regular.eot#iefix') format('embedded-opentype'),
    url('BebasNeue-Regular.ttf') format('truetype'),
    url('BebasNeue-Regular.woff') format('woff'),
    url('BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');*/
  font-weight: normal;
  font-style: normal;
}
